*{

    margin: 0;
    padding: 0;
}

.container{

    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.calculator-body{

    width: 400px;
    height: 500px;
    background: linear-gradient(rgb(189, 186, 186),rgb(94, 93, 93));
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(154, 153, 153);
    border-top: solid white;
     border-right: solid white;
     padding: 40px;
}

.screen{

    width: 100%;
    height: 100px;
    background-color: rgb(207, 210, 213);
    margin: 30px 0 20px 0px;
    box-shadow: 0 0 10px rgb(48, 47, 47)
    inset 
    ;
    border-radius: 10px;
    border-bottom: solid white;
    border-left: solid white;
    justify-content: end;
    display: flex;
    align-items: end;
    padding: 10px;
    overflow: hidden;
}
.btn-container{
    
    display: grid;
    gap: 10px;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(4,80px);
}

.btn-container button{

    box-shadow: 0 0 5px rgb(74, 73, 73);
     border-radius: 10px;
    border-top: solid rgb(183, 178, 178);
    border-right: solid rgb(183, 178, 178);
    font-size: 1.5rem;
    font-weight: 700;
}



.btn-container .operator{

    background-color: black;
    color: white;
}

.btn-container #clear{

    background-color: red;
    color: white;
}

.Answer{

    font-size: 2.5rem;
    color: rgb(7, 37, 7);
    font-family: monospace;
}
