*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins',sans-serif;
    background-color: #ffffff;
    color: #1f2937;
    
}


#logo{

    width: 70px;
}
#logo-mobile{

    display: none;
}
#nameSchool{

    display: none;
}
header{

     justify-items: center;
      position: fixed;
        width: 100%;
        background:#f0fdf4;
        padding: 12px 25px;
        box-shadow: 0 1px 10px rgb(27, 26, 26);
}
.nav-link-container{

    display: flex;
      align-items: center;
    
    
}
.container-navbar{

    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;

}

.nav-link{

    display: flex;
    list-style: none;
}

.nav-link li a{

    padding: 0 25px;
    text-decoration: none;
    color:  #1f2937;;
    font-weight: 500;
    position: relative;
     transition: all 0.4s ease-in-out;
}
.nav-link li a::before{

    content: "";
    position: absolute;
    border-radius: 15px;
    top: 22px;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #1f2937;;
    transition: all 0.4s ease-in-out;
   
    
}

.nav-link li a:hover::before{

    width: 90%;
   color: #094706;
   


}

.nav-link li a:hover{


       color: #094706; 
    
}

.ham-menu {

    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 1;
    display: none;
}

.ham-menu span{

       width: 25px;
    height: 3.5px;
    background-color: #064e3b;
    transition: all .3s ease-in-out;
}


.ham-menu span.open:nth-child(1){

    transform: translatey(7px) rotate(45deg);
    
}

.ham-menu span.open:nth-child(2){

   opacity: 0;

}
.ham-menu span.open:nth-child(3){

    transform: translatey(-7px) rotate(-45deg);

}
.contact-btn button{

    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background-color: #facc15;
    color: #ffff;
    font-weight: 500;
       transition: all 0.3s ease-in-out;
    
}
.contact-btn-mobile button{

    display: none;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background-color: #facc15;
    color: #ffff;
    font-weight: 500;
       transition: all 0.3s ease-in-out;
    
}
.contact-btn button:hover{

    background-color: #d97706;

}


.container-wraper{


      width: 100%;
      max-width: 1600px;
      margin-left: auto;
    margin-right: auto;
    
}

.banner{

    background: linear-gradient( #14532d6b,#064e3b),url(media/hero-image/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    justify-items: center;
    align-content: center;
  
  
}

.banner .content{

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.banner .content h1{

    font-size: 2.5rem;
   

}

.banner .content #welcome{

    color: #ffff;
    background-color: none;

}

.banner .content #school{

    padding: 8px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.banner .content p{

    color: white;
    font-weight: 200;
    font-style: italic;
    font-size: .9rem;
}

.btn-container-banner button:nth-child(1){

  padding: 12px 24px;
      border: 1px solid #facc15;
    background-color: #facc15;
    color: #ffff;
    font-weight: 500;
       transition: all 0.3s ease-in-out;
}

.btn-container-banner button:nth-child(2){

  padding: 12px 24px;
    border: 1px solid #facc15;
    background: none;
    color: #facc15;
    font-weight: 500;
       transition: all 0.3s ease-in-out;
}

.btn-container-banner button:hover:first-child{

    background-color: #facc15af;
    color: #cad3cd;
}

#section-1{

    justify-items: center;
    background:linear-gradient(#064e3b 100px,#ffffff 20px);
}
#section-1 .content-container{

    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
 
}
#section-1 .content-container .card-wrap{

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    bottom: -190px;
    width: 100%;
    flex-wrap: wrap;
    width: 100%;
    
}
#section-1 .content-container .card-wrap .card{


    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px #064e3b7c ;
    min-width: 300px;
 
}

#section-1 .content-container .card-wrap .card .image{

    width: 100%;
    height: 30vh;
    img{

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#section-1 .content-container .card-wrap .card .context{

    padding: 10px;
}

#section-1 .content-container .card-wrap .card .context .cta a{

    padding: 10px 0px;
    display: block;
    text-decoration: none;
    color: #064e3b;

}
#about .container-content-wrap .content{

    display: flex;
    width: 100%;
 
    flex-direction: column;
    padding: 15px 25px;
    gap: 30px;
    text-align: justify;
    background: linear-gradient(rgba(62, 60, 60, 0.904),#064e3bde),url(media/hero-image/aboutus.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}
#about .container-content-wrap .content .container-content{


    flex: 1;
    text-align: center;
    
}
#about .container-content-wrap .content .container-content h3{

    font-size: 1.5rem;
    color: #fafffb;
}
#about .container-content-wrap .content .container-content p,h3{

    margin-bottom: 10px;
    color: #b8c5bc;
      
}

#about .container-content-wrap  .content .container-content img{

    
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

}


@media (max-width: 1023px) {
 

    #logo-mobile{

        width: 80px;
        margin-left: 30px;
    }
    body.disable{

        overflow: hidden;
    }
    .ham-menu{

        display: flex;
    }
    .container-navbar .contact-btn{

      display: none;
    }

     .container-navbar {

        position: relative;
     }
        .nav-menu{

            position: absolute;
            width: 100%;
            top: 0;
            left: -1000px;
            background-color: #f0fdf4;
            padding: 10px;
            height:100vh;
            transition: all .6s ease-in-out;
    
        
        }

        .nav-menu.open-menu{

            left: -40px;
            right: 0;
          
           padding: 10;
            transition: all .6s ease-in-out;
            
        }

        .contact-btn-mobile button{

            display: block;
            margin-left: 20px;
        }

        .open-blur-close{

        
            backdrop-filter: blur(3px);
            width: 190%;
            height: 100%;
            top: -86px;
            left: -100px;
            right: 0;
            opacity: 0;
             transition: all .3s ease-in-out;
            position: absolute;
             z-index: -1;
        }

         .open-blur-close.open-blur{
 
            opacity: 100;
       
            backdrop-filter: blur(10px);
       
        
        }


         
    .nav-menu .nav-link{

        
        flex-direction: column;
    gap: 30px;
    }

    #nameSchool{

    display: block;
    margin-left: 10px;
}

}


@media (max-width:700px) {

       #nameSchool{

    display: block;
    margin-left: 10px;
    font-weight: .9em;
}

    body.disable{

        overflow: hidden;
    }
    .ham-menu{

        display: flex;
    }
    .container-navbar .contact-btn{

      display: none;
    }

     .container-navbar {

        position: relative;
     }
        .nav-menu{

            position: absolute;
            width: 100%;
            top: 0;
            left: -1000px;
            background-color: #f0fdf4;
            padding: 10px;
            height:100vh;
            transition: all .6s ease-in-out;
    
        
        }

        .nav-menu.open-menu{

            left: -40px;
            right: 0;
          
           padding: 10;
            transition: all .6s ease-in-out;
            
        }

        .contact-btn-mobile button{

            display: block;
            margin-left: 20px;
        }

        .open-blur-close{

        
            backdrop-filter: blur(3px);
            width: 190%;
            height: 100%;
            top: 86px;
            left: -100px;
            right: 0;
            opacity: 0;
             transition: all .3s ease-in-out;
            position: absolute;
             z-index: -1;
        }

         .open-blur-close.open-blur{
 
            opacity: 100;
       
            backdrop-filter: blur(10px);
       
        
        }


         
    .nav-menu .nav-link{

        
        flex-direction: column;
    gap: 30px;
    }
    #section-1 .content-container .card-wrap{

        flex-direction: column;

    }

      #section-1 .content-container .card-wrap .card{

         width: 100%;
    }

       #about .container-content-wrap  .content{

        height: auto;
       }
    #about .container-content-wrap  .content .container-content img{

    

    display: block;

}
}